<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->    
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Row -->
              <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- column -->
                  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="font-medium">
                    <mat-card-header>
                      <mat-card-title>Par&aacute;metros de Transporte </mat-card-title>
                      <mat-spinner *ngIf="loading" matSuffix diameter="30"></mat-spinner>
                    </mat-card-header>
                  </div>
              </div>
              <br>
              <div align="center">
                      <div *ngIf="global_alert.act" class="{{global_alert.type}}" >
                          {{global_alert.mensaje}}
                      </div>
                  </div>
              <table class="table">

                  <tr style="height: 50px;">
                      <th>
                          <div class="font-medium">
                              Clave
                          </div>
                      </th>
                      <th>
                          <div class="font-medium">
                              Valor
                          </div>
                      </th>
                      <th>
                          <div class="font-medium">
                              Descripci&oacute;n
                          </div>
                      </th>
                      <th></th>
                  </tr>

                  <tr *ngFor="let parametro of parametros" style="height: 50px;">
                      <td>
                          {{parametro.clave}}
                      </td>
                      <td>
                          {{parametro.valor}}
                      </td>
                      <td>
                          {{parametro.descripcion}}
                      </td>
                      <td align="center" style="cursor:pointer;">
                          <a routerLink="/portal/transporte/parametros-transporte/actualizar/{{parametro.id}}" class="link">Modificar</a>
                      </td>
                  </tr>
                  
              </table>
              
          </mat-card-content>
          
          
      </mat-card>
  </div>
  <!-- column -->    
</div>