<h1 mat-dialog-title>ATENCI&Oacute;N</h1>
<div mat-dialog-content>
  <p *ngIf="!borrado" align="justify">¿Esta seguro de eliminar la palabra reservada: {{data.palabra}}?</p>
  <p *ngIf="mensaje_delete" class="text-danger" align="justify">{{mensaje_delete}}</p>
</div>
<div align="right" *ngIf="!borrado" mat-dialog-actions>
  <button mat-button (click)="borrar(data.id, data.palabra)" tabindex="2">Si</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">No</button>
</div>
<div align="right" *ngIf="borrado" mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1">Ok</button>
</div>