<h1 mat-dialog-title>CAMBIO DE CONTRASEÑA</h1>
<div mat-dialog-content *ngIf="!reestablecido">
    <p *ngIf="mensaje" class="text-danger" align="justify">{{mensaje}}</p>
    <mat-form-field>
            <input matInput
            type="password"
             placeholder="Contraseña Actual"
             name="codigo" 
             [(ngModel)]="contrasenaActual"> 
        </mat-form-field>
    <mat-form-field>
        <input matInput
        type="password"
         placeholder="Nueva Contraseña"
         name="codigo" 
         [(ngModel)]="contrasena"> 
    </mat-form-field>
    <mat-form-field>
        <input matInput
        type="password"
         placeholder="Confirme Contraseña"
         name="codigo" 
         [(ngModel)]="contrasena1"> 
    </mat-form-field>
</div>
<div align="right" mat-dialog-actions *ngIf="!reestablecido">
        <button mat-button (click)="reestablecer( data.usuario, contrasena, contrasena1, contrasenaActual )" tabindex="2">Cambiar</button>
        <button mat-button (click)="onNoClick()" tabindex="2">Cancelar</button>
</div>
<div mat-dialog-content *ngIf="reestablecido">
    <p align="justify">Su contraseña ha sido actualizada con exito, ingrese al sistema con su nueva contraseña.</p>
</div>
<div align="right" mat-dialog-actions *ngIf="reestablecido">
  <button mat-button (click)="onNoClick()" tabindex="2">Continuar</button>
</div>